{% extends 'EtheriqLesson8Bundle::base.html.twig' %}

{% block title %}
    Подробная информация
{% endblock title %}

{% block header %}
    <nav style="margin: 20px 0 20px 150px; text-align: left;">
<a href="{{ path('homepage') }}" class="btn btn-default">{{ 'On Main'|trans }}</a>
    </nav>
{% endblock header %}

    {% block content %}

        <div>
            {{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate' }}) }}

            <div style="text-align: left; margin-left: 165px;">
                <span> {{ 'Created'|trans }}: {{ created }} </span><br>
                <span> {{ 'Changed'|trans }}: {{ updated }} </span><br><br>
            </div>
            <div class="col-md-6" style="text-align: right">

                <div class="form-inline">
                    {{ form_label(form.nameGuest, 'Name'|trans|raw) }}
                    {{ form_widget(form.nameGuest, { 'attr': {'class': 'form-control', 'style': 'width:30%; ', 'placeholder': 'Введите имя' } }) }}

                    {{ form_label(form.emailGuest, 'E-mail'|trans|raw) }}
                    {{ form_widget(form.emailGuest, { 'attr': {'class': 'form-control', 'style': 'width:30%; ', 'placeholder': 'Введите почтовый адрес' } }) }}

                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
                </div>
                <div class="form-inline" style="margin: 5px 0;">
                    {{ form_label(form.bodyGuest, 'Message'|trans|raw) }}
                    {{ form_widget(form.bodyGuest, { 'attr': {'class': 'form-control', 'style': 'width:80%; height: 250px;', 'placeholder': 'Введите сообщение, минимальная длина 100 символом ' } }) }}

                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12" style="text-align: left;">
                    <p>{{ form_errors(form.nameGuest) }}</p>

                    <p>{{ form_errors(form.emailGuest) }}</p>
                </div>

                <div class="col-md-12" style="text-align: left;">
                    <p>{{ form_errors(form.bodyGuest) }}</p>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        </div>

    {% endblock content %}

